<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto:wght@300&family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/address.css">
    <title>set address</title>
    <script src="https://kit.fontawesome.com/a5dc1e6b68.js" crossorigin="anonymous"></script>
</head>
<body>
  <section>
    <h1>회원가입 페이지</h1>
  </section>
  <section>
    <form name="login" action='/users/register_process' method="post">
      아이디확인<br>
      <input type="text" name="user_ID" placeholder="아이디 입력" >
      <input type="button" name="user_IDcheck" value="아이디 확인">
      <br>
      비밀번호<br> 
      <input type="password" name="user_PW1" value="123456"><br>
      비밀번호 재확인<br>
      <input type="password" name="user_PW2" value="123456">
      <input type="button" name="user_PWcheck" value="비밀번호 재확인">
      <br><br>
      이름<br>  <input type="text" name="user_name" value=""> <br>
      <br><br>
      성별<br>
      <label for="man">남자</label>
      <input type="radio" name="gender" value="1" id="1">
      <label for="woman">여자</label>
      <input type="radio" name="gender" value="2" id="2"> <br><br>
      이메일<br><input type="email" name="user_email" placeholder="email@gmail.com"><br><br>
      휴대전화<br>
      <input type="text" name="user_phone" placeholder="010-****-****">
      <input type="button" name="certification" value="인증번호 받기"><br>
      <input type="text" name="certification" placeholder="인증번호를 입력하세요">
      <input type="button" name="certification" value="확인"><br><br>
      사용자<br>
      나이<br>  <input type="text" name="age" value=""> <br>
      <label for="man">구매자</label>
      <input type="radio" name="sellbuy" value="1" id="1">
      <label for="woman">판매자</label>
      <input type="radio" name="sellbuy" value="2" id="2">
      <br><br>
      본인 사진 <br>
      <input type="file" name="" value="">
      <br><br><br>
      <input type="submit" name="" value="제출" >
    </form>
  </section>
</body>
</html>