<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/test.css">
    <script src="/js/test.js"></script>
    <title>Document</title>
  </head>
  <body>
    
    <div class="div1">
      <div class="div2">div2_1</div>
      <div class="div2">div2_2</div>
      <div class="div2">div2_3</div>
      <div class="div2">div2_4</div>
      <div class="div2">div2_5</div>
      <div class="div2">div2_6</div>
      <div class="div2">div2_7</div>
      <div class="div2">div2_8</div>
      <div class="div2">div2_9</div>
      <div class="div2">div2_10</div>
    </div>
    
  </body>
</html>