.line_bottom {
  border-bottom: 1px solid var(--grey-light-color);
}

.padding {
  padding: var(--padding);
}

.product_size {
  width: 80%;
  height: 80%;
}

.search_keyword {
  display: flex;
  padding: var(--padding);
  align-items: center;
}

.search_keyword i {
  padding: var(--icon_padding);
  font-size: var(--font-large);
}

.search_input {
  width: calc(100% - 3rem);
  font-size: 0.875rem;
  line-height: 2rem;
  border-radius: 9999px;
  background-color: var(--gray-light-light-color);
  border: 0px;
  padding-left: 10px;
  margin-right: var(--padding);
}

.search_product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_product button {
  border: 1px solid var(--gray-light-light-color);
  box-shadow: 1px 1px 10px var(--gray-light-light-color);
  border-radius: 20%;
  margin-bottom: var(--padding);
}

.search_product button img {
  width: 70%;
  border-radius: 10%;
  margin-bottom: var(--padding);
}
