.line_bottom {
  border-bottom: 1px solid var(--grey-light-color);
}

.padding {
  padding: var(--padding);
}

.product_size {
  width: 80%;
  height: 80%;
}

.search_keyword {
  display: flex;
  /* padding: var(--padding); */
  align-items: center;
}

.search_keyword i {
  padding: var(--icon_padding);
  font-size: var(--font-large);
  color: var(--concept-light-color);
}

.search_input {
  /* width: calc(100% - 3rem); */
  font-size: 0.875rem;
  line-height: 1.5rem;
  border-radius: 9999px;
  background-color: var(--gray-light-light-color);
  border: 0px;
  margin-right: var(--padding);
  padding-left: var(--padding);
}

.related_search {
  padding-bottom: 0px;
}

.related_search a {
  color: var(--concept-dark-color);
  margin-right: var(--padding);
}

.filter {
  display: flex;
}

.filter button {
  background-color: var(--concept-light-color);
  border-radius: 999px;
  color: white;
  margin-right: var(--padding);
  padding: 3px var(--padding);
  font-size: var(--font-medium);
}